$opaque-black : #9d9d9d8c;
$secondary:#625B71;
$secondary50: #7A7289;
$surface-variant:rgba(231, 224, 236, 1);

$on-surface: #1C1B1F;
$on-surface-variant: #49454F;
$surface: #FFFBFE;
$background:rgba(255, 251, 254, 1);
$primary: #6750A4;
$error : #B3261E;
$error-container: #F9DEDC;
$on-primary: #ffffff;
$tertiary: #7D5260;
$tertiary-container:#FFD8E4;
$on-tertiary:#fffff;
$tertiary95:#FFECF1;
$outline-variant: #CAC4D0;
$surface2:rgba(103, 80, 164, 0.08);
$secondary-container:#E8DEF8;
$scrim:rgb(0,0,0,0.25);
$on-surface-opacity-008 : rgba(28, 27, 31, 0.08);
$on-surface-opacity-016 : rgba(28, 27, 31, 0.16);
$on-surface-opacity-012 : rgba(28, 27, 31, 0.12);
$shadow :rgba(0, 0, 0, 1);
$inverse-surface : rgba(230, 225, 229, 1);
$inverse-on-surface : #313033;
$primary-container:#EADDFF;
$outline: #79747E;









