@import '../../scss/App';
.page-day-schedule{
  @include main;
  .date{
    .calendar-icon-wrapper{
      border-radius: 100px;
      padding: .4em;
      vertical-align: center;
      svg{
        fill: $on-surface-variant;
        width: size(icons,big);
      }
      &:hover{
        background-color: $primary;
        svg{
          fill: $on-primary;
        }
      }
    }
  }
  .dots-icon-wrapper{
    border-radius: 100px;
    padding: .4em;
    svg{
      width: size(icons,big);
      transform: rotate(90deg);
    }
    &:hover{
      background-color: $primary;
      svg{
        fill: $on-primary !important;
      }
    }
  }
}