@import '../../../scss/App';
.automation-page{
  @include main;

  .weekdays-container{
    text-align: left;
    #calendar{
      display: grid;
      grid-gap: .2em;
      grid-template-columns: repeat( auto-fill, minmax(4em,auto) );
      padding: 0 56px;
    }
  }
  .main-btns{
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }
}
